<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UM OFP-Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/site.css">


</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">UM - OFP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Route Master<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Home Page</a></li>
                        <li><a href="#">About Page</a></li>
                        <li><a href="#">Contact Page</a></li>
                        <li><a href="#">My Page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container body-content" style="padding-top: 40px">
    <h3 class="text-danger">
        This Is The home Page
       <h2  th:text="${myName}" class="text-success"></h2>
    </h3>
</div>
</body>
</html>